@import url('https://fonts.googleapis.com/css?family=Creepster');
.body {
	background-color: #B0B1CB;
}

.topbar {
	text-align: center;
	font-family: 'Creepster', cursive;
	font: bold;
	font-size: 24px;
	color: white;
}

.mainBody {
	margin: auto;
}

.jumbo-container {
	background: url("../img/graveyard.jpg");
	background-size: cover;
	background-position: 0% 30%;
	height: 375px;
	width: 100%;
	position: relative;
	border-style: double;
	border-color: purple;
}

.page-header {
	position: absolute;
	margin: 0;
	font-family: 'Creepster', cursive;
	font-size: 75px;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	background-color: white;
	transform: translate(-50%, -50%);
	border-style: double;
	border-color:purple;
	text-align: center;
}

.page-header.h1 {
	font-size: 60px;
}

.page-header.h3 {
	font-size: 40px;
}

.container-header {
	font-family: 'Creepster', cursive;
	text-align: center;
	padding-bottom: 20px;
}

.container {
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: #537272;
}

.container-header.h1 {
	font-size: 50px;
}

.container-head.h3 {
	font-size: 28px;
}

.col-4 {
	font-family: 'Creepster', cursive;
	font-size: 28px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.col-3 {
	font-family: 'Creepster', cursive;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.col-4 p1 {
	text-align: center;
}

.navbar {
	color: cornsilk;
	font-family: 'Creepster', cursive;
	font-size: 30px;
	padding: 1px 10px;
	justify-content: space-between;
	width: 100%;
	background-color: black;
		border-style: double;
	border-color:purple;
}

.navbar-nav {
	color: cornsilk;
	width: 100%;
}

.footer {
	font-family: 'Creepster', cursive;
	width: 100%;
	text-align: center;
	font-size: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-style: double;
	border-color:purple;
	background: url("../img/graveyard.jpg");
	background-size: cover;
	color: white;
}

.carousel-item h3 {
	font-family: 'Creepster', cursive;
	font-size: 35px;
	text-align: center;
	
}

.carousel-item p {
	font-family: 'Creepster', cursive;
	font-size: 25px;
	text-align: center;
	
}

.carousel {
	/* any dimensions are fine, it can be responsive with max-width */
	width: 475px;
	height: 400px;
}

.carousel-inner {
	/* make sure your .items will get correct height */
	height: 100%;
}

.item {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}

form, .col-form-legend {
		font-family: 'Creepster', cursive;
	font-size: 30px;
}

/*
.form-group{
		font-family: 'Creepster', cursive;
	font-size: 40px;
}
.form-check{
		font-family: 'Creepster', cursive;
	font-size: 40px;
}

	
.col-form-legend{	font-family: 'Creepster', cursive;
	font-size: 40px;
}

*/